.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
}

.productContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}