ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li {
    margin: 20px;
}

.total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 20px;
}