div {
}

label {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

input {
  width: 100%;
}

.expiration input {
  width: 100px;
}
