form {
    border: 3px solid var(--qwik-dark-purple);
    border-radius: 5px;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
}
